.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 50px;
}

input[type=text] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../public/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.table-div {
  padding: 20px;
  margin-top: 30px;
}

